<h1>Results</h1>

<form action="/results">
  <input name="query">
  <input type="submit" value="Submit" class="hide"/>
</form>

<% if params['query'] == "" || params['query'].strip.empty? %>
  No search query
<% else %>

  <% if @count == 0 %>
    Sorry, we couldn't find what you searched for.
  <% elsif @count == 1 %>
    <% @message = 'Found 1 match with the word "'+params['query']+'"' %>
  <% else %>
    <% @message = 'Found '+@count.to_s+' matches with the word "'+params['query']+'"' %>
  <% end %>


  <% if !@message.nil? %>
    <%= @message %><br>

    <table class="table">
      <thead>
        <tr>
          <td>Church</td>
          <td>Results</td>
        </tr>
      </thead>
        <tbody>
        <% @final_results.group_by{ |key,value| key[0] }.each do |key, values| %>
          <tr>
            <td><%= link_to Church.find(key[0]).name, church_path(key[0]) %></td>
            <td>
              <div><%= values[0][1].html_safe %><div>
              <% if !values[1].nil? %>
                <div><%= values[1][1].html_safe %></div>
              <% end %>
              <% if !values[2].nil? %>
                <div><%= values[2][1].html_safe %></div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
  <% end %>

<% end %>